:root {
    --banner-bg-color: #782121;
    --dataset-panel-header-bg-color: #782121;
    --global-visited-links: #2A3236;
    --main-intro-search-nav-bg-color: #782121;
    --main-search-list-selected-gene: #782121;
    --main-section-launcher-bg-color-active: #782121;
    --main-section-launcher-bg-color-inactive: #BD8888;
    --logo-bg-color: #FFFFFF;
    --logo-width: 126px;
    --logo-height: 128px;
}
